 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <body>
    <%= render template: "layouts/_navbar" %>
    <%= render template: "friends/_sidebar"  %>
    <%= image_tag('google.png', :class=>"google responsive-img") %>
    <%= button_to "New Echo", new_pin_path, :method => "get" %>

    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAPS"] %>&libraries=places&callback=initMap" async defer></script>

  </body>

<script id="song-template" type="text/x-handlebars-template">
  <li>{{artist}} - <a href="#" id="{{song_uri}}">{{title}}</a></li>
</script>
<script id="player-template" type="text/x-handlebars-template">
  <iframe src="https://embed.spotify.com/?uri={{spotify_uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</script>
<script id="db-player-template" type="text/x-handlebars-template">
  <p>{{artist}} - {{song}}</p>
  <div id='search-box'>
  <li><a href="#" id="{{song_uri}}">Play Song</a></li>
  </div>
  <div id="player"></div>
</script>
<script id="search-bar-template" type="text/x-handlebars-template">
<div id='search-box'>
  <input id="searchbar" type="text" class="form-control" placeholder="Search for...">
  <div id="results" class="container-fluid"></div>
  <div id="player"></div>
  <form id="song_form" method="post" action='/pins'>
    <input id="form_song_id" type="hidden" name="song_id">
    <input id="latitude" type="hidden" name="lat" value="{{lat}}">
    <input id="longitude" type="hidden" name="lng" value="{{lng}}">
    <input id="address" type="hidden" name="address">
    <textarea id="form_comment" style="display: none;" name="comment"></textarea>
    <input id="form_type" type="hidden" value="Save">
  </form>
</div>
</script>
