    <% if @pin %>
      <div id="query-pin" data-redirectuser-id=<%= @pin.user_id %> data-lng=<%= @pin.longitude %> data-lat=<%= @pin.latitude %> display="none"></div>
    <% end %>

    <div id="map-canvas">
      <div data-c-user=<%= current_user.id %> id="map"></div>
    </div>
    <div id="overlay">
      <div id="top-bar" align="center">
        <%= image_tag('logo.png', size: "75x50", :class=>"responsive-img")%>
      </div>
      <input id="loc-input" class="controls" type="text" placeholder="Enter a location">

      <div id="left-menu">
        <div class="menu-overflow">
          <%= render template: "layouts/_navbar" %>
        </div>
      </div>
      <div id="right-menu">
        <div class="menu-overflow">
          <div id="river_song" style="color: #F2F4EC; font-size: 110%;" class="col s4 offset-s2">
            <% unless @pins.length == 0 %>
              <h5 align="center"> Recent Posts</h5>
              <%= react_component("Comment", {:pins => @pins}) %>
            <% end %>
          </div>
        </div>
      </div>
      <a href="#" id="left-menu-button"><i class="medium material-icons">perm_identity</i></a>
      <a href="#" id="right-menu-button"><i class="medium material-icons">person_pin</i></a>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAPS"] %>&libraries=places&callback=initMap" async defer></script>

<script id="song-template" type="text/x-handlebars-template">
  <li>{{artist}} - <a href="#" id="{{song_uri}}">{{title}}</a></li>
</script>
<script id="player-template" type="text/x-handlebars-template">
  <iframe src="https://embed.spotify.com/?uri={{spotify_uri}}" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
</script>
<script id="db-player-template" type="text/x-handlebars-template">
  <div id='search-box'>
    <p>{{address}}</p>
    <p>{{comment}}</p>
    <div id="player">
      <iframe src="https://embed.spotify.com/?uri={{song_uri}}" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
</script>
<script id="search-bar-template" type="text/x-handlebars-template">
<div id='search-box'>
  <input id="searchbar" type="text" class="form-control" placeholder="Search for...">
  <div id="results" class="container-fluid"></div>
  <div id="player"></div>
  <form id="song_form" method="post" action='/pins'>
    <input id="form_song_id" type="hidden" name="song_id">
    <input id="form_song_artist" type="hidden" name="song_artist">
    <input id="form_song_title" type="hidden" name="song_title">
    <input id="latitude" type="hidden" name="lat" value="{{lat}}">
    <input id="longitude" type="hidden" name="lng" value="{{lng}}">
    <input id="address" type="hidden" name="address">
    <textarea id="form_comment" style="display: none;" name="comment"></textarea>
    <input id="form_type" class="btn green lighten-1" type="hidden" value="Save">
  </form>
</div>
</script>

