<li class="collection-item avatar">
     <%= image_tag user.avatar.url(:thumb) %>
      <span class="title">
      <%= link_to user.fullname, user_path(user)  %>
      </span>
      <p> <%= user.location  %> </p>
    <% if current_friend?(user.id) %>
      <p class="right">This person is your friend</p>
    <% elsif request_sent?(user.id) %>
      <p class="right ">Request Pending</p>
    <% elsif request_received?(user.id)%>
      <span class="right">
      <%= button_to 'Delete Request', {:controller=>"friend_requests", :action=> "destroy", :id=> user.id}, :method=>:delete, :class => 'btn red accent-4 btn-sm' %>
      <%= button_to 'Accept Request', {:controller=>"friend_requests", :action=> "update", :id=>user.id}, :method=>:patch, :class => 'btn green accent-4 btn-sm' %>
      </span>
    <% else %>
      <%= button_to 'Add Friend', {:controller=>"friend_requests", :action=> "create", :recipient_id=> user.id, :sender_id=>session[:user_id]}, :method=>:post, :class => 'btn btn-primary btn-sm add-friend' %>
    <% end %>
</li>