<h4>Welcome Back <%=@user.first_name.capitalize %></h4>

<h6>Picture here</h6>

<h6>Username: <%= @user.username %></h6>
<h6>Member Since: <%= @user.created_at %></h6>




<h4>Recent Echos</h4>
  <% @user.pins.each do |pin| %>
    <%= pin.song %>
    <%= pin.comment %>
  <% end %>

<!--Below will be the link to see all of your frinds -->
<!-- # button_to "Your Friends", friends_path -->


<%=link_to "Account Settings", edit_user_path%>

