<!DOCTYPE html>
<html>
<head>
  <title>Echo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container up-top">
        <br><br>
        <%= image_tag('logo.png', size: "275x125", :class=>"center-block responsive-img")%>
        <div class="row center">
          <h5 class="header col s12 white-text">An app that allows users to share songs, places, and their memories</h5>
        </div>
        <div class="row center">
          <%= button_to('Register', new_user_path, :class => 'btn-large waves-effect waves-light teal darken-3', :method => :get)  %>
          <br>

  <!-- Modal Structure -->
            <button data-target="modal1" class="btn modal-trigger teal darken-3">Login</button>
<!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
             <%= render template: "sessions/new" %>
            </div>
          </div>

        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax up-top"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
  </div>
</body>
</html>