<!DOCTYPE html>
<html>
<head>
  <title>Echo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="index-banner" class="parallax-container up-top">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <%= link_to image_tag('logo.png', size: "275x125", :class=>"center-block responsive-img"), maps_path%>
        <div class="row center">
          <h5 class="header col s12 white-text">An app that allows users to share songs, places, and their memories</h5>
        </div>
        <div class="row center">
        <% unless current_user %>
          <%= button_to('Register', new_user_path, :class => 'btn waves-effect waves-light green lighten-1', :method => :get)  %>
          <br>
          <% end %>
          <% unless session[:user_id] %>
          <!-- Modal-->
          <button data-target="modal1" class="btn waves-effect waves-light green lighten-1 modal-trigger">Login</button>
          <div id="modal1" class="modal">
            <div class="modal-content">
             <%= render template: "sessions/new" %>
            </div>
          </div>
          <% else %>
          <br>
          <%= button_to('Logout', logout_path, :class => 'btn waves-effect waves-light green lighten-1', :method => :get)  %>
          <% end %>
          <br><br>
          <% if flash[:error] %>
            <div class="notice red-text text-accent-4"><%= flash[:error] %></div>
          <% end %>
          <% if flash[:deleted_account] %>
            <div class="notice red-text text-accent-4"><%= flash[:deleted_account] %></div>
          <% end %>

        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><%=image_tag('cover.png')%></div>
  </div>

  <div class="row tallguy">
        <div class="col s12 m4 offset-m1">
        <br><br><br>
          <div class="icon-block">
            <h5 class="center">Drop Pins</h5>
            <br>
            <button class="ghost">Click</button>
            <br><br>
            <p class="light center">Find any location and attach a song to a dropped pin</p>
          </div>
        </div>

        <div class="col s12 m4 offset-m2">
        <br><br><br>
          <div class="icon-block">
            <h5 class="center">Save Memories</h5>
            <br>
            <button class="ghost">Click</button>
            <br><br>
            <p class="light center">Write a message on your pin and check with friends</p>
          </div>
        </div>

    </div>
  </div>

  <div class="parallax-container bottom-contain">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
  </div>
  <script type="text/javascript">
  $(function() {
    $('.modal-trigger').leanModal();
  });
  $(function(){
    $('.parallax').parallax();
  });
  </script>
</body>
</html>
