<form id="friendy_thing" action="#">
    <input class="friends_sidebar" type="checkbox" id=<%= current_user.id %> />
    <label for=<%= current_user.id %>>My Pins</label>

  <% current_user.friends.each do |friend| %>
  <br>
    <input class="friends_sidebar" type="checkbox" id=<%= friend.id %> />
    <label for=<%= friend.id %>><%= friend.username %></label>

  <% end %>
</form>