<div id="prof-nav-bar" align="center">
  <%= link_to user_path(current_user), class: "test-profile" do %>
  <%= image_tag current_user.avatar.url, :class => 'rounded' %>
  <h5 style="color: #F2F4EC;"><%= current_user.fullname %></h5>
  <% end %>

  <%= button_to('Friends', friends_path, :class => 'friends waves-effect waves-light btn green lighten-1', :method => :get)  %>
  <br>
  <%= button_to('Logout', logout_path, :class => 'logout waves-effect waves-light btn green lighten-1 ', :method => :get)  %>
  <br>
</div>

<div class="left-menu-overflow">
  <div class="friend-wrapper">
    <%= render template: "layouts/_friend_sidebar"  %>
  </div>
</div>
     <!--  <div id="gmage">
        <%= image_tag('google.png', :class=>"google responsive-img") %>
      </div> -->