<!DOCTYPE html>
<html>
<head>
  <title>Echo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" type="text/javascript"></script>
</head>

<%= image_tag current_user.avatar.url(:thumb), :class => 'circle' %>
<h1>Test!</h1>
<body>

<%= yield %>

</body>
</html>